body{
    background-color: #e0e0eb;
    color:#0a0a10;
    font-family: "Helvetica", sans-serif;
    margin: 100px 150px 100px 80px;
}

.name{
    text-align: center;
    font-style: bold;
}

.contact{
    font-style: italic;
}
