body{
    width: 95%;
    color:#0a0a10;
    font-family: "Georgia", serif;
}

#name{
    text-align: center;
    font-style: bold;
    background-color: #463560;
    text-color: #ffffff;
}

#contact{
    text-align: center;
    font-style: italic;
    background-color: #463560;
    text-color: #ffffff;
}

#content{
    text-align: left;
    text-indent: 5%;
    padding: 5%;
    background-color: #a3a2db;
}

.dates{
    font-style: italic;
    text-align: right;
}

.subtitle{
    text-align: center;   
}

.list{
    text-align: left;
    text-indent: 8%;
}

hr{
    color: #000000
}
