body{
    width: 90%;
    color:#0a0a10;
    font-family: "Georgia", serif;
    border-left: 5px solid #000000; 
}

.name{
    text-align: center;
    font-style: bold;
    background-color: #463560;
    color: #ffffff;
    padding: 2%;
}

p.name{
    font-style: italic;
    tex-align: right;
}

#photo{
    float: right;
    max-width:20%;
    max-height:20%;
}

#content{
    text-align: left;
    text-indent: 5%;
    padding: 5%;
    background-color: #a3a2db;
    border-top: 5px solid #000000;
}

.dates{
    font-style: italic;
    text-align: right;
}

.subtitle{
    text-align: center;   
}

.list{
    text-align: left;
}

hr{
    color: #000000
}
